.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px 15px;
    /*overflow: auto;*/
}
.lateTodo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px auto;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #EF4444;
}
.todoText{
    width: 32%;
    overflow: auto;
    font-size: 18px;
    font-weight: bold;
}
.completedBtn{
    background-color: white;
    color: #0db70d;
    border: 1px solid #0db70d;
    border-radius: 5px;
    outline: none;
    padding: 3px 5px;
    cursor: pointer;
 }
.uncompletedBtn{
    background-color: white;
    color: #fd0909;
    border: 1px solid #fd0909;
    border-radius: 5px;
    outline: none;
    padding: 3px 5px;
    cursor: pointer;
}
.completeText{
    text-decoration: line-through;
    color: #7e7d7d;
    width: 32%;
    overflow: auto;
    font-size: 18px;
    font-weight: bold;

}
.editBtn{
    background-color: white;
    color: #6d28d9;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    outline: none;
    padding: 3px 5px;
    cursor: pointer;
}
.deleteBtn{
    background-color: white;
    color: #fd0909;
    border: 1px solid #fd0909;
    border-radius: 5px;
    outline: none;
    padding: 3px 5px;
    cursor: pointer;
}
.todoOptions{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2px;
}
.date{
    width: 30%;
    margin-left: 10px;
}
@media screen and (max-width: 416px){
    .todo {
        flex-direction: column;
    }
    .lateTodo{
        flex-direction: column;
    }
    .todoText{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .completeText{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .date{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .todoOptions{
        width: 90%;
        justify-content: space-evenly;
    }
}