input{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 10px;
    outline: none;
    margin: 5px 5px;
    width: 250px;
    font-size: 15px;
}
input:focus{
    border: 1px solid #0873d2;
}
.btn{
    width: 65px;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    background-color: #198dd9;
    outline: none;
    border: none;
}